/* Custom CSS */

.logo {
  width: 13px !important;
}

.welcome {
  width: 30px !important;
}

.view-page-icon {
  width: 50px !important;
}

.cart {
  width: 22px !important
}

.profile {
  width: 30px;
}

.yellow {
  background-color: #fae335;
}

.bg-dora-dark-blue {
  background-color: #009edf;
}

.bg-dora-light-blue {
  background-color: #f0fcfc !important;
}

.text-dora-yellow {
  color: #fae335 !important;
}

.text-dora-blue {
  color: #009edf;
}

.px-lg-15 {
  padding-right: 15rem !important;
  padding-left: 15rem !important;
}