{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<!-- Header-->
<header class="bg-info py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-secondary">
            <h1 class="display-4 fw-bolder">Cart Page</h1>
            <p class="lead fw-normal text-secondary-50 mb-0">{{ customer.customer }} has added the following gadget into cart. Pleas confirm detail then checkout of edit deatil.</p>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">

        <!-- Gadget image and detail -->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Gadget</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Daily Rental Price</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Number of Day Rent</th>
                            <th scope="col">Total Price</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Shipping Address</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        {% for renting in cart %}
                        <tbody>
                          <tr>
                            <td>{{ renting.gadget }}</td>
                            <td>{{ renting.quantity }}</td>
                            <td>{{ renting.price }}</td>
                            <td>{{ renting.start_day }}</td>
                            <td>{{ renting.number_days_rent }}</td>
                            <td>{{ renting.Total_price }}</td>
                            <td>{{ renting.email }}</td>
                            <td>{{ renting.phone }}</td>
                            <td>{{ renting.address }}</td>
                            <td><button id="submitButton" type="submit"
                                class="btn btn-danger btn-sm">delete</button></td>
                            <td><button id="submitButton" type="submit"
                                class="btn btn-info btn-sm">edit</button></td>
                            <td><button id="submitButton" type="submit"
                                class="btn btn-success btn-sm">Confirm</button></td>
                          </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}