{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- index.html content starts here -->
<!-- Header-->
<header class="bg-info py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-secondary">
            <h1 class="display-4 fw-bolder">Cart Page</h1>
            <p class="lead fw-normal text-secondary-50 mb-0">{{ customer }} has added the following gadget into
                cart. Pleas confirm detail then checkout of edit deatil.</p>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <!-- Gadget image and detail -->
        <section class="py-2">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 table-responsive">
                    <table class="table col-4 text-center">
                        {% if gadget_count == 0 %}
                        <p>You have no pending rent.</p>
                        {% else %}
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Renting ID</th>
                                <th scope="col">Gadget</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Daily Rental Price</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">Number of Day Rent</th>
                                <th scope="col">Total Price</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Shipping Address</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <p>You have {{ gadget_count }} rent pending to confirm for shipping</p>
                        {% for renting in cart_list %}
                        <tbody>
                            <tr id="renting{{ renting.id }}">
                                <th scope="row">{{ renting.id }}</th>
                                <td id="gadget{{renting.id}}">{{ renting.gadget }}</td>
                                <td id="quantity{{renting.id}}">{{ renting.quantity }}</td>
                                <td id="price{{renting.id}}">£ {{ renting.price }}</td>
                                <td id="start_date{{renting.id}}">{{ renting.start_date }}</td>
                                <td id="number_days_rent{{renting.id}}">{{ renting.number_days_rent }}</td>
                                <td id="total_price{{renting.id}}">£ {{ renting.Total_price }}</td>
                                <td id="email{{renting.id}}">{{ renting.email }}</td>
                                <td id="phone{{renting.id}}">{{ renting.phone }}</td>
                                <td id="address{{renting.id}}">{{ renting.address }}</td>
                                {% if renting.status == 0 %}<td><button id="deleteButton" type="submit" renting_id="{{ renting.id }}"
                                        class="btn btn-danger btn-delete btn-sm">delete</button></td>
                                <td><a href="#rentEditForm"><button id="editButton" type="submit" renting_id="{{ renting.id }}"
                                        class="btn btn-info btn-edit btn-sm">edit</button></a></td>
                                <td><button id="confirmButton" type="submit" renting_id="{{ renting.id }}"
                                        class="btn btn-success btn-confirm btn-sm">Confirm</button></td>{% endif %}
                            </tr>
                            {% endfor %}
                            {% endif %}
                    </table>
                </div>
            </div>
        </section>
        <section class="py-2">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <!-- Creating Renting Form -->
                    <form class="d-none" id="rentEditForm" method="post" style="margin-top: 1.3em;">
                        <p>You are updating detail for renting ID: <strong><span id="rentingIdValue"></span></strong></p>
                        {{ rent_edit_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-info btn-lg">Update</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirm Rent?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to confrim your rent?
                Once confirmed the rent can no longer be amended and delivery process will begin.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="rentConfirm" href="#" class="btn
          btn-success">Confirm</a>
            </div>
        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Renting?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this renting?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
          btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>


<!-- index.html content ends here -->
{% endblock %}

{% block extras %}
<script src="{% static 'js/rent_edit_confirm_delete.js' %}"></script>
{% endblock %}