{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Contact -->
<section class="py-5 bg-dora-light-blue">
    <div class="container px-4 px-lg-5 my-5">
        <div class="col-md-4 card mb-4 mt-3 justify-content-center">
            <div class="card">
                <!-- Contact info-->
                <div class="p-4">
                    <h4>
                        Contact us
                    </h4>
                    <p>
                        For any enquiry please reach out to us or drop by at the address below.
                        Any techical issue plesae call or drop us an email and our techinian will be 
                        right over at instant with our amazing Anywhere-Door!.
                    </p>
                    <hr>
                </div>
                <div class="mx-md-3 px-4">
                    <div>
                        <div>
                            <i class="fa fa-phone text-dora-blue fs-5" aria-hidden="true"></i>
                            <p>+1258 3258 5679</p>
                        </div>
                        <div>
                            <i class="fa fa-envelope text-dora-blue fs-5" aria-hidden="true"></i>
                            <p>
                                admin@doraex.com
                            </p>
                        </div>
                        <div>
                            <i class="fa fa-map-marker text-dora-blue fs-5" aria-hidden="true"></i>
                            <p>
                                102 Dora House, Dora Street, Dora World DO5 4EX
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- html content end here -->
{% endblock %}