{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{% static 'images/default.jpg' %}"
                    alt="placeholder" /></div>
            <div class="col-md-6">
                <div class="small mb-1">Gadget ID: {{ gadget.gadget_id }}</div>
                <h1 class="display-5 fw-bolder">{{ gadget.gadget_name }}</h1>
                <div class="fs-5 mb-5">
                    <span>£{{ gadget.unit_rent_price }} a day</span><span>
                        Not suitable for anyone under {{ gadget.minimum_usage_age }} year.</span>
                </div>
                <p class="lead">{{ gadget.detail_description | safe }}</p>
                <div class="d-flex">
                    {% if user == customer %}
                    <a href="{% url 'renting_form' gadget.slug %}">
                    <button class="btn flex-shrink-0 btn-info" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Rent 
                    </button></a>
                    {% else %}
                    <a href="{% url 'account_login' %}">
                        <button class="btn flex-shrink-0 btn-danger" type="button">
                            Log in and create customer profile to rent
                        </button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}