{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->
<!-- Header-->
<header class="bg-dora-dark-blue py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">Welcome to <span>D</span><span><img class="welcome"
                src="{% static '/images/logo.png' %}" alt="bell" /></span><span>raEx</span></h1>
            <p class="lead fw-normal text-secondary-50 mb-0">
                To fullfill your dream of one day being able to try great doraemon 
                gadgets that you have seen on the series. We bring these gadgets 
                right to your door with few clicks.
            </p>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <!-- Gadget image and detail -->
        <section class="py-2">
            <div class="container px-4 px-lg-5 mt-5 text-center">
                ;lovjfdljfglfdjglfdjgkljdlfgsagrfd
            </div>
        </section>
    </div>
</div>



<!-- index.html content ends here -->
{% endblock %}