{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <!-- Creating Renting Form -->
            <div class="col-md-4 card mb-4 mt-3">
                <div class="card-body">
                    <h3></h3>
                    <form id="commentForm" method="post" style="margin-top: 1.3em;">
                        {{ renting_form | crispy }}
                        {% csrf_token %}
                        <button id="submitButton" type="submit" class="btn btn-info btn-lg">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}