{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <!-- Creating Renting Form -->
            {% if customer.age < gadget.minimum_usage_age %} <div>Sorry! You are too young please return to homepage.
        </div>
        {% else %}
        <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
                <h3>
                    Great choice! You have selected to rent <span class="text-info">{{ gadget.gadget_name}}
                    </span>, please fill in the form to proceed.
                </h3>
                <form id="rentingForm" method="post" style="margin-top: 1.3em;">
                    {{ renting_form | crispy }}
                    {% csrf_token %}
                    <a href="{% url 'home' %}"><button id="addToCart" type="submit" class="btn btn-info btn-lg">Add to cart</button></a>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
</section>
{% endblock %}

{% block extras %}
<script src="{% static 'js/renting_form.js' %}"></script>
{% endblock %}