{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<header class="bg-info py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-dark">
            <h1 class="display-4 fw-bolder">From the past to the future </h1>
            <p class="lead fw-normal text-secondary-50 mb-0">Experience the greatest dream of all time with our Doraemon
                gadget range </p>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <!-- Gadget image and detail -->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="col-md-4 card mb-4 mt-3 justify-content-center">
                    <div class="card-body">
                        <div class="">
                            <!-- Product image-->
                            {% if "default" in gadget.featured_image.url %}
                            <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="default image">
                            {% else %}
                            <img class="card-img-top" src=" {{ gadget.featured_image.url }}"
                                alt="{{ gadget.gadget_name }}">
                            {% endif %}
                            <!-- Product details-->
                            <div class="">
                                <h3>
                                    Great choice! You have selected to rent <span class="text-info">
                                        {{gadget.gadget_name}}
                                    </span>, please fill in the form to proceed.
                                </h3>
                                <form id="rentingForm" method="post" style="margin-top: 1.3em;">
                                    {{ renting_form | crispy }}
                                    {% csrf_token %}
                                    <a href="{% url 'home' %}"><button id="addToCart" type="submit"
                                    class="btn btn-info btn-lg">Add to cart</button></a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}