/* Custom CSS */

.logo {
    width: 13px !important;
  }

  .text-dora-yellow {
    color: #fae335 !important;
  }

  .px-lg-15 {
    padding-right: 15rem !important;
    padding-left: 15rem !important;
  }